<body>
    <br>
    <table>
        <tbody>
            <tr>
                <th></th>
                <th>Rubrik</th>
                <th>Skapad av</th>
                <th>Senaste inlägg</th>
            </tr>
            ***PHP***
            <tr>
                <td>
                    <form action="readtopic.php" method="post"> 
                        <input type="hidden" name="topic" value="***topic***">  
                        <input type="hidden" name="op" value="***op***">
                        <input class="result" type="submit" name="submit" value="Läs">
                    </form>
                </td>
                <td>***topic***</td>
                <td>***op***</td>
                <td>***time***</td>
            </tr>
            ***PHP***
        </tbody>
    </table>
</body>
</html>